/* -----------------HEADER------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #B33332;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;    
}

.menu li{
    display: inline-block;
    margin-left: 10px; 
}

.menu li:first-child{
    margin-left: 0;
}

.menu li a{
    text-decoration: none;
    color:#000000;
    padding: 10px;
    font-weight: bold;
}

/* -----------------HEADER------------------------- */



/* -----------------MAIN--------------------------- */
body{/* ajustes del tipo de fuente*/
    font-family: 'Inter', Inter;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_background {
    
    
   
}

.form_contacto{
    background-color:  rgba(255, 255, 255, 1);
    position: absolute;
    width: 482px;
    padding: 20px;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex; /*utilizo flexbox para poder centrar el contenido del div */
    flex-direction: column;   
    justify-content: center; /* centra verticalmente el contenido */
    align-items: center;

}

.form_contacto {/* ajustes generales del contenedor del form*/
    background-color:  rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form_contacto input { /* ajustes de los inputs del form*/
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    font-size: 16px;
    color: #555;
}

.form_contacto textarea{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    font-size: 16px;
    color: #555;
    resize: none;
}

.form_contacto button { /* ajustes del bot贸n de enviar */
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b13331;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form_contacto button:hover { /*animaci贸n para el bot贸n de "enviar" cuando el mouse pasa por encima del bot贸n*/
    background-color: #a02020;
}

/* -----------------MAIN--------------------------- */




/* -----------------FOOTER------------------------- */

.footer_{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #B33332;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* -----------------FOOTER------------------------- */






